.description {
  padding-top: 15rem;

  @media (max-width: em(992)) {
    padding-top: 10rem;
  }

  @media (max-width: em(575)) {
    padding-top: 5rem;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    margin-right: 1.5rem;
  }

  &__title {
    margin-bottom: 2.5rem;
  }

  &__text {
    max-width: 68rem;
    font-weight: 400;
    font-size: fluid-font(1.8rem, 1.6rem);
    line-height: 150%;

    p:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    @media (max-width: em(992)) {
      max-width: initial;
    }
  }

  &__image {
    max-width: 47rem;

    @media (max-width: em(992)) {
      display: none;
    }
  }
}
