.tournament {
  padding-top: 12rem;

  @media (max-width: em(992)) {
    padding-top: 10rem;
  }

  @media (max-width: em(575)) {
    padding-top: 5rem;
  }

  &__wrapper {
    position: relative;
    display: flex;
  }

  &__content {
    z-index: 2;
    max-width: 78rem;

    @media (max-width: em(1200)) {
      max-width: initial;
    }
  }

  &__title {
    margin-bottom: 2.5rem;
  }

  &__subtitle {
    margin-bottom: 2.5rem;
    font-weight: 400;
    font-size: fluid-font(1.8rem, 1.6rem);
    line-height: 150%;
  }

  &__list {
    list-style: decimal;
    margin-bottom: 6rem;
    margin-left: 1.5rem;
    font-size: fluid-font(1.8rem, 1.6rem);
    line-height: 150%;

    @media (max-width: em(575)) {
      margin-bottom: 3rem;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }

  &__button {
    margin-bottom: 3rem;
  }

  &__downloads {
    display: flex;
    justify-content: space-between;
    max-width: 37.5rem;

    @media (max-width: em(575)) {
      justify-content: space-evenly;
      max-width: initial;
    }

    @media (max-width: em(460)) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__download {
    @media (max-width: em(460)) {
      &:not(:last-child) {
        margin-bottom: 2rem;
       }
    }
  }

  &__image {
    position: absolute;
    right: -32rem;
    top: 4rem;
    z-index: 1;
    max-width: 108.5rem;

    @media (max-width: em(1200)) {
      display: none;
    }
  }
}
